@use "../partials/colors";

main .about {
  .a-here {
    color: colors.$button-hover;
  }
  p {
    padding: 70px 22px 22px 22px;
    max-width: 600px;
    margin: auto;
    text-align: justify;
  }

  .photo-with-border {
    position: relative;
    margin: auto;
    width: 265px;
    top: 70px;
    height: 340px;
    padding-left: 50px;
    padding-bottom: 40px;

    .photo {
      width: 230px;
      height: 290px;
      position: absolute;
      top: 30px;
      right: 0;
      object-fit: cover;
    }

    .photo-border {
      position: absolute;
      top: 0;
      right: 45px;
      width: 220px;
      height: 220px;
      border: colors.$primary solid 6px;

      .about-me {
        padding-left: 11px;
      }
    }
  }

  @media only screen and (min-width: 760px) {
    .photo {
      width: 350px;
      height: 450px;
      top: 60px;
      right: 20px;
    }
    .photo-border {
      top: 0;
      right: 45px;
      width: 360px;
      height: 360px;
    }
  }
}
