@use "../partials/colors";
@use "../partials/screens";

main .about {
  .a-here {
    color: colors.$button-hover;
  }
  p {
    padding: 70px 22px 22px 22px;
    max-width: 600px;
    margin: auto;
    text-align: justify;
  }

  .photo-with-border {
    position: relative;
    margin: auto;
    width: 265px;
    top: 70px;
    height: 340px;
    padding-left: 58px;
    padding-bottom: 40px;

    .photo {
      width: 200px;
      height: 290px;
      position: absolute;
      top: 60px;
      right: 20px;
      object-fit: cover;
    }

    .photo-border {
      position: absolute;
      top: 0;
      right: 45px;
      width: 220px;
      height: 220px;
      border: colors.$primary solid 6px;

      .about-me {
        padding-left: 11px;
      }
    }
  }
}
@media only screen and (min-width: screens.$desktop-sm-min) {
  main .about {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    height: 600px;

    p {
      width: 430px;
      font-size: 1.1em;
    }
    .photo-with-border {
      padding-left: 58px;
      padding-bottom: 40px;

      .photo {
        width: 300px;
        height: 440px;
        top: -60px;
        left: 70px;
      }

      .photo-border {
        top: -105px;
        right: -10px;
        width: 300px;
        height: 300px;

        .about-me {
          padding-left: 20px;
          padding-top: 8px;
        }
      }
    }
  }
}
