@use "../partials/colors";

main .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;



    .contact-icons {
      display: flex;
      flex-direction: row;
      height: 100px;
      width: 100px;

  }
  .icon-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 50px;
  }

  // Small - Tablet
  @media only screen and (min-width: 760px) {
  }

  // Medium - Desktop
  @media only screen and (min-width: 1024px) {
  }
}
