main .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .contact .msg-pad {
  margin-top: 33px;
  margin-bottom: 40px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .contact .msg-pad .contact-icons {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 94.5%;
  justify-content: space-around;
  text-align: center;
  position: relative;
  top: -13px;
  width: 70px;
}
main .contact .msg-pad .contact-icons img {
  padding-right: 18px;
  height: 70px;
  width: 70px;
}
main .contact .msg-pad form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contact .msg-pad form > * {
  margin-top: 7px;
  margin-bottom: 7px;
}
main .contact .msg-pad form input {
  max-width: 600px;
  width: 63vw;
  height: 40px;
}
main .contact .msg-pad form ::placeholder {
  color: #b1b1b1;
  opacity: 1;
  padding-left: 10px;
}
main .contact .msg-pad form button {
  font-size: 20px;
  line-height: 0%;
  width: 120px;
  height: 2rem;
  color: #333333;
  background-color: whitesmoke;
  margin-bottom: 14px;
}
main .contact .msg-pad form button:hover {
  color: #43c484;
}
main .contact .msg-pad form textarea {
  max-width: 600px;
  padding-top: 10px;
  height: 200px;
  width: 63vw;
  font-family: Arial;
  -webkit-appearance: none;
}
main .contact .msg-pad textarea,
main .contact .msg-pad input,
main .contact .msg-pad button {
  border-radius: 5px;
  transition: all 350ms ease-in-out;
}
main .contact .msg-pad textarea:hover, main .contact .msg-pad textarea:focus,
main .contact .msg-pad input:hover,
main .contact .msg-pad input:focus,
main .contact .msg-pad button:hover,
main .contact .msg-pad button:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 20px #3a7553;
  box-shadow: 0 0 20px #80bb80;
}
