main .home {
  .vector {
    background: url("/assets/img/Industrial\ Revolution.jpg");

    background-attachment: fixed;
    background-position: center;
    min-height: 500px;

    background-repeat: no-repeat;
    background-size: 100%;
  }
  .title {
    position: absolute;
    top: 290px;
    align-items: center;
  }
}
