.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.banner {
  width: 90vw;
  border: solid whitesmoke 6px;
  margin: 60px 0px 30px 0px;
  flex-direction: row;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .banner {
    width: 65vw;
  }
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext, .tooltip .tooltiptext--bot, .tooltip .tooltiptext--top {
  transition: all 350ms ease-in-out;
  opacity: 0;
  width: 120px;
  background-color: none;
  color: #43c484;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext--top {
  right: -10px;
  bottom: 120px;
}
.tooltip .tooltiptext--bot {
  right: -10px;
  bottom: -38px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext--top, .tooltip:hover .tooltiptext--bot {
  opacity: 1;
}

.nav-anchor {
  margin-top: 10px;
  padding: 10px;
}

main .projects {
  align-items: center;
}
main .projects .projects-container {
  margin-top: 25px;
}
main .projects .projects-container .proj1,
main .projects .projects-container .proj2,
main .projects .projects-container .proj3 {
  display: flex;
  height: 300px;
  width: 250px;
  margin: 20px auto;
  border: whitesmoke solid 4px;
  background-color: #0d0d0d;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  main .projects {
    align-items: center;
  }
  main .projects .projects-container {
    flex-direction: row;
    margin-top: 25px;
  }
  main .projects .projects-container .proj1,
main .projects .projects-container .proj2,
main .projects .projects-container .proj3 {
    display: flex;
    height: 300px;
    width: 250px;
    margin: 20px auto;
    border: whitesmoke solid 4px;
    background-color: #0d0d0d;
    align-items: center;
    justify-content: center;
  }
}
