@use "../partials/common";
@use "../partials/colors";
@use "../partials/screens";

main .projects {
  align-items: center;
  .projects-container {
    margin-top: 25px;

  }
}
@media only screen and (min-width: screens.$desktop-sm-min) {
  main .projects {
    align-items: center;
    .projects-container {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 25px;

      .morse-img {
        height: 300px;
        width: 450px;
      }
      .calculator-img {
        height: 300px;
      }
      .ecommerce-img {
        height: 300px;
      }
      .google-books-img {
        height: 300px;
      }
    }
  }
}
