h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Russo One", sans-serif;
}

h2 {
  font-size: 49px;
  font-family: "Russo One", sans-serif;
}

h3 {
  font-size: 25px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

main .about p {
  text-align: center;
}
main .about .photo-with-border {
  width: 350px;
  position: relative;
  height: 400px;
  margin: auto;
}
main .about .photo-with-border .photo {
  width: 250px;
  height: 340px;
  position: absolute;
  top: 60px;
  right: 20px;
  object-fit: cover;
}
main .about .photo-with-border .photo-border {
  position: absolute;
  top: 0;
  right: 45px;
  width: 270px;
  height: 270px;
  border: whitesmoke solid 6px;
}
main .about .photo-with-border .photo-border .about-me {
  padding-left: 10px;
}
@media only screen and (min-width: 760px) {
  main .about .photo {
    width: 350px;
    height: 450px;
    top: 60px;
    right: 20px;
  }
  main .about .photo-border {
    top: 0;
    right: 45px;
    width: 360px;
    height: 360px;
  }
}

main .contact {
  align-items: center;
}
main .contact .git-banner {
  border: solid whitesmoke 6px;
  margin: 30px;
  flex-direction: row;
  text-align: center;
}
main .contact .git-banner p {
  display: none;
}
main .contact .msg-pad {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 20px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main .contact .msg-pad .contact-icons {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  text-align: center;
}
main .contact .msg-pad .contact-icons img {
  height: 70px;
  width: 70px;
}
main .contact .msg-pad form {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contact .msg-pad form > * {
  margin: 7px;
}
main .contact .msg-pad form input {
  max-width: 600px;
  width: 70vw;
  height: 40px;
}
main .contact .msg-pad form input:hover, main .contact .msg-pad form input:focus {
  outline: none !important;
  border-color: #3a7553;
  box-shadow: 0 0 15px #3a7553;
}
main .contact .msg-pad form ::placeholder {
  color: #b1b1b1;
  opacity: 1;
  padding-left: 10px;
}
main .contact .msg-pad form button {
  font-size: 20px;
  line-height: 0%;
  width: 120px;
  height: 2rem;
  background-color: whitesmoke;
  margin-bottom: 14px;
}
main .contact .msg-pad form button:hover {
  outline: none !important;
  box-shadow: 0 0 15px #80bb80;
}
main .contact .msg-pad form button:focus {
  outline: none !important;
  box-shadow: 0 0 15px #3a7553;
}
main .contact .msg-pad form textarea {
  max-width: 600px;
  padding-top: 10px;
  height: 200px;
  width: 70vw;
  font-family: Arial;
  -webkit-appearance: none;
}
main .contact .msg-pad form textarea:hover, main .contact .msg-pad form textarea:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 20px #3a7553;
  box-shadow: 0 0 15px #80bb80;
}
@media only screen and (min-width: 1024px) {
  main .contact .git-banner p {
    display: inline;
  }
}

footer {
  background-color: #333333;
  width: 100%;
  display: flex;
  height: 45px;
}
footer .container {
  align-items: center;
  justify-content: space-around;
}
footer img {
  height: 25px;
}

main .home .vector {
  background: url("/assets/img/Industrial Revolution.jpg");
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
}
main .home .title {
  position: absolute;
  top: 290px;
  align-items: center;
}

nav {
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #333333;
  width: 100%;
  height: 50px;
  -webkit-transform: translateZ(0);
}
nav .row {
  justify-content: space-around;
}
nav a {
  color: #b1b1b1;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 60px;
}

* {
  padding: 0;
  margin: 0;
  transition: all 200ms ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d0d0d;
  color: whitesmoke;
  font-family: "Barlow", sans-serif;
}
