* {
  padding: 0;
  margin: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

body {
  background-color: #0d0d0d;
  color: whitesmoke;
  font-family: "Barlow", sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Russo One", sans-serif;
}

h2 {
  font-size: 49px;
  font-family: "Russo One", sans-serif;
}

h3 {
  font-size: 25px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav {
  background-color: #333333;
  height: 70px;
}

nav .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav a {
  color: #b1b1b1;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 100px;
}

main .home {
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

main .about {
  position: relative;
  width: 90%;
  height: 530px;
}

main .about .photo {
  width: 350px;
  height: 450px;
  position: absolute;
  top: 60px;
  right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .about .photo-border {
  position: absolute;
  top: 0;
  right: 70px;
  width: 350px;
  height: 350px;
  border: whitesmoke solid 6px;
}

main .about .photo-border .about-me {
  padding-left: 10px;
}

main .contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact .contact-icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contact .contact-icons img {
  height: 90px;
  width: 90px;
}

main .contact .git-banner {
  border: solid whitesmoke 6px;
  margin: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .contact .msg-pad {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contact .msg-pad form {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact .msg-pad form > * {
  margin: 7px;
}

main .contact .msg-pad form input {
  width: 70vw;
  height: 40px;
}

main .contact .msg-pad form input:hover, main .contact .msg-pad form input:focus {
  outline: none !important;
  border-color: #3a7553;
  -webkit-box-shadow: 0 0 15px #3a7553;
          box-shadow: 0 0 15px #3a7553;
}

main .contact .msg-pad form ::-webkit-input-placeholder {
  color: #b1b1b1;
  opacity: 1;
  padding-left: 10px;
}

main .contact .msg-pad form :-ms-input-placeholder {
  color: #b1b1b1;
  opacity: 1;
  padding-left: 10px;
}

main .contact .msg-pad form ::-ms-input-placeholder {
  color: #b1b1b1;
  opacity: 1;
  padding-left: 10px;
}

main .contact .msg-pad form ::placeholder {
  color: #b1b1b1;
  opacity: 1;
  padding-left: 10px;
}

main .contact .msg-pad textarea {
  padding-top: 10px;
  height: 200px;
  width: 70vw;
  font-family: Arial;
  -webkit-appearance: none;
}

main .contact .msg-pad textarea:hover, main .contact .msg-pad textarea:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 20px #3a7553;
  box-shadow: 0 0 15px #80bb80;
}

main .contact button {
  font-size: 20px;
  line-height: 0%;
  width: 100px;
  height: 2rem;
  background-color: whitesmoke;
  margin: 15px;
  margin-bottom: 25px;
}

main .contact button:hover {
  outline: none !important;
  -webkit-box-shadow: 0 0 15px #80bb80;
          box-shadow: 0 0 15px #80bb80;
}

main .contact button:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 15px #3a7553;
          box-shadow: 0 0 15px #3a7553;
}

footer .footer {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  height: 25px;
}
/*# sourceMappingURL=main.css.map */